
body{
    margin:0px;
    font-family: "Segoe UI";
}

h2{
    margin-top: 10px;
}
body{

}
h2{
    margin-top: 10px;
}

.header {
    padding: 0px;
    box-shadow: 1px 1px 5px 3px #ccc;
}
.header-nav{
    display: flex;
    list-style: none;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 40px;
}
.header-nav li {
    padding: 5px 30px;
}
.header-nav li {
    font-size: 15px;
    line-height: 20px;
}
.header-nav li a{
    color: #262626;
    text-decoration: none;
}




#job_list_cards_wrap{
    display: inline-block;
   
  }

 
  .mdl-card {
    min-height: auto !important;
    margin: 10px 10px;
    
  }



.footer{
    background-color: #eaeaea;
  
    padding: 0px;
}
.footer ul{
    display: flex;
    list-style: none;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
    
}
.footer ul li{
    padding: 5px 30px;
    
}

.footer ul li a{
    color: #616161; 
    font-size: 15px;
    line-height: 20px;
    text-decoration: none;
    font-weight: 600;
}

.footer ul li a:hover{
    text-decoration:underline;
}